.carouselContainer {
  width: 80%;
  margin: 0 auto;
}

.cardWrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  width: 100%;
}

.card {
  position: relative;
  overflow: hidden; /* Ensures the overlay stays within the card */
  height: 450px;
  width: 300%; /* Ensure it takes full width */
  color: #fff;
  margin: 0 15px; /* Creates horizontal gaps between the cards */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--text-color); /* Adds a colored border */
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
  z-index: 1; /* Bring the hovered card to the front */
}

.image {
  width: 100%; /* Make the image cover the entire card */
  height: 100%; /* Ensure it covers the height */
  object-fit:fill; /* Cover the entire card without distortion */
}

.overlay {
  position: absolute; /* Position the overlay absolutely within the card */
  top: 0;
  left: 0;
  width: 100%; /* Cover the full width of the card */
  height: 100%; /* Cover the full height of the card */
  background: linear-gradient(to top, var(--background-color), var(--grad-color)); /* Gradient background */
  display: flex;
  flex-direction: column; /* Stack title, description, and button vertically */
  justify-content: center; /* Center them vertically */
  align-items: center; /* Center them horizontally */
  opacity: 0; /* Start as invisible */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.card:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

.title {
  font-size: 2em; /* Adjust as needed for the title size */
  margin-bottom: 10px; /* Adds space below the title */
  text-align: center; /* Center align the title text */
}

.description {
  font-size: 1em; /* Adjust as needed for the description size */
  text-align: center; /* Center align the description text */
  padding: 0 10px; /* Optional: add some padding */
}

.button {
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px; /* Button padding */
  background-color: #00008B; /* Button background color */
  color: white; /* Button text color */
  text-decoration: none; /* Remove underline from link */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Transition effect on hover */
}

.button:hover {
  background-color: #0000FF; /* Change button color on hover */
}
