/* Container for the experience section */
.experienceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 900px; */
  background-color: var(--background-colour); /* Set the background color for the container */
  font-family: "Raleway", sans-serif; /* Apply Raleway font */
}

.sectionHeadText {
  font-size: 36px;
  color: var(--text-color);
}

.titlecontainer {
  position: relative;
  text-align: center;
  margin-top: 100px; /* Adjust as needed */
}

.largertitle {
  color: var(--text-color);
  font-size: 10rem; /* Adjust size as needed */
  color: var(--fade-color); /* Light gray with transparency */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -71%);
  white-space: nowrap;
  z-index: 1;
  text-transform: none;
}

.smallertitle {
  left: 3%;

  font-size: 3rem; /* Adjust size as needed */
  color: var(--text-color);
  position: relative;
  z-index: 2;
}

/* Table styles */
.tableWrapper {
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  overflow-x: auto; /* Allow horizontal scrolling on small screens */
}

.experienceTable {
  width: 100%;
  border-collapse: collapse; /* Collapse borders */
  margin-top: 50px; /* Space above the table */
}

.firstColumn {
  padding: 20px; /* Increase padding for better spacing */
  text-align: left; /* Align text to the left */
  width: 250px; /* Set a fixed width for the first column */
}

.experienceTable th, .experienceTable td {

  padding: 15px; /* Increased padding for better spacing */
  padding-bottom: 50px;
  text-align: left;
  border: none; /* Remove borders */
}

.experienceTable .th .firstColumn {
  padding-right: 100px;
}

.experienceTable th {
  background-color: var(--fade-color); /* Adjust header background color */
  color: var(--text-color);
  font-weight: bold; /* Make header text bold */
}

.experienceTable tr {
  background-color: var(--background-colour); /* Solid background for all rows */
}

.experienceTable tr:hover {
  background-color: var(--background-colour); /* Keep the background color the same on hover */
}



.carouselControls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.carouselButton {
  padding: 10px 20px;
  background-color: var(--text-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carouselButton:hover {
  background-color: var(--fade-color);
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  .iconWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
  }
  .verticalTimelineWrapper {
    max-width: 800px;
    margin-top: 0px;
  }
  .navLinks.show {
    display: flex; /* Show links when menu is open */
  }
}

.smallFont {
  font-size: 0.8rem; /* Adjust the size as needed */
  color: var(--text-color); /* Use the variable for text color */
}

.bigFont {
  font-size: 1.5rem; /* Adjust the size as needed */
  color: var(--text-color); /* Use the variable for text color */
}