/* src/sections/Experience/ExperienceStyle.module.css */

/* Container for the experience section */
.experienceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background-color: var(--background-colour); /* Set the background color for the container */
}

.sectionHeadText {
  font-size: 36px;
  color: var(--text-color);
}

.titlecontainer {
  position: relative;
  text-align: left;
  margin-top: 50px; /* Adjust as needed */
}

/* Title styles */
.largertitle {
  color: var(--fade-color); /* Light gray with transparency */
  font-size: 10rem; /* Adjust size as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -68%);
  white-space: nowrap;
  z-index: 1;
  text-transform: none;
}

.smallertitle {
  font-size: 4rem; /* Adjust size as needed */
  color: var(--text-color);
  position: relative;
  z-index: 2;
}

/* Table styles */
.tableWrapper {
  width: 100%;
  max-width: 1000px;
  margin: 40px 10px; /* Increased left and right margin */
  overflow-x: auto; /* Allow horizontal scrolling only when necessary */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  padding-bottom: 0px;
}

.experienceTable {
  width: 100%;
  border-collapse: collapse; /* Collapse borders */
  margin-top: 20px; /* Space above the table */
  table-layout: fixed; /* Keep the columns fixed to prevent overflow */
}

@font-face {
  font-family: Raleway;
  src: url('../../../public/Raleway-VariableFont_wght.ttf');
}

.experienceTable th, .experienceTable td {
  padding: 15px; /* Unified padding for better spacing */
  text-align: left;
  border: none; /* Remove borders */
  background-color: transparent; /* Set header background to transparent */

  vertical-align: top; /* Align content at the top */
}

.experienceTable th {
  color: var(--text-color);
  font-weight: bold; /* Make header text bold */
}

.experienceTable .jobTitle {
  font-size: 25px; /* Job title size */
  font-weight: bold; /* Make job title bold */
  font-family: Raleway;
}

.experienceTable .date {
  font-size: 12px; /* Smaller size for date */
  font-family: Raleway;
  color: var(--text-color); /* Ensure text color is consistent */
  padding-bottom: 10px;
}

.experienceTable .otherInfo {
  font-size: 16px; /* Smaller size for date */
  font-family: Raleway;
  color: var(--text-color); /* Ensure text color is consistent */
  word-wrap: break-word; /* Ensure text wraps inside the cell */
  line-height: 1.5; /* Increased line height for better spacing between lines */
  padding-bottom: 25px;
}

/* Row styles */
.experienceTable tr {
  background-color: var(--background-colour); /* Solid background for all rows */
}

.experienceTable tr:hover {
  background-color: var(--background-colour); /* Keep the background color the same on hover */
}

/* Column styles */
.jobTitleColumn {
  width: 30%;  
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.descriptionColumn {
  
  width: 70%;  
  word-wrap: break-word;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .icon, .iconWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .verticalTimelineWrapper {
    max-width: 800px;
    margin-top: 0px;
  }

  .navLinks.show {
    display: flex; /* Show links when menu is open */
  }
  .jobTitleColumn {
    width: 100%; /* Full width for mobile */
    white-space: normal; /* Allow wrapping */
  }

  
}


/* this */

/* src/sections/Experience/ExperienceStyle.module.css */

/* Container for the experience section */

/* Responsive adjustments */
@media (max-width: 800px) {
  .titlecontainer {
    margin-top: 30px; /* Adjust margin for mobile */
    padding-right: 0px;
  }

  .largertitle {
    font-size: 5rem; /* Reduced font size for mobile */
    white-space: normal; /* Allow wrapping on mobile */
  }

  .smallertitle {
    font-size: 2rem; /* Reduced font size for mobile */
  }

  .tableWrapper {
    margin: 0px; /* Adjusted margins for mobile */
  }

  .experienceTable th, .experienceTable td {
    /* padding: 10px; Reduced padding for mobile */
    align-items: center; /* Center inline elements within the parent */
    width: 80%;

  }

  .experienceTable .jobTitle {
    font-size: 20px; /* Adjust job title size for mobile */
    display: flex; /* Use flexbox for stacking */
    flex-direction: column; /* Stack title and date vertically */
  }

  .experienceTable .otherInfo {
    font-size: 10px; /* Adjust description size for mobile */
    margin-right: 0px;
  }

  .experienceTable .date {
    font-size: 10px; /* Adjust date size for mobile */
  }

  .experienceTable {
    width: 100%;
    
  }

  .experienceTable th, .experienceTable td {
    padding: 0px; /* Unified padding for better spacing */
  }

  .tableWrapper {
    width: 80%;
    max-width: 300px;
    margin: 0px; /* Increased left and right margin */
    padding-right: 0px;
    align-items: center;
  }

  .jobTitleColumn {
    width: 30%;  
    max-width: 10px;
  }
  
  .descriptionColumn {
    width: 50%;  
    word-wrap: break-word;
  }
  .experienceContainer {
    position: static;
    display: flex;
    width: 80%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-colour); /* Set the background color for the container */
  }
}