.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 100px;
    font-family: "Raleway", sans-serif;
  }
  
  .Hero {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .colorModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .blob {
    background-image: url('../../assets/1703795023034.jpeg');
    width: 250px;
    height: 250px;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }
  
  @keyframes animate {
    0%, 100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }

  .hello {
    text-transform: none;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
  }

  .desc {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    text-transform: none; /* This prevents text from being transformed to uppercase */

  }
  
  .bottomContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;

  }
  
  .info span {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .rightContent p {
    margin-top: 20px;
  }
  
  [data-theme="light"] .info {
    color: black;
  }
  
  [data-theme="dark"] .info {
    color: white;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 800px) {
    .Hero {
      flex-direction: column;
      align-items: center;
      padding-right: 0px
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 50px;
      
    }
  
    .bottomContent {
      align-items: center;
      margin-left: 0;
    }
  
    .info {
      align-items: center;
      text-align: center;
    }
  
    .blob {
      width: 300px;
      height: 300px;
    }
  
    .rightContent p {
      text-align: center;
      margin-top: 20px;
      font-size: 15px
    }
  }